/* css styles */


/*-- scss:functions --*/


/*-- scss:defaults --*/


/*-- scss:rules --*/
h1 {
  color: #345634;
}

h2 {
  color: #89b889;
}

h3 {
  color: #63a163;
}

h4 {
  color: #4b7c4b;
}

h5 {
  color: #345634;
}